doctype html(lang='en')
head
  title Home Page
  |   
  meta(charset='utf-8')
  |   
  meta(name='viewport', content='width=device-width, intial-scale=1')
  |   
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  |   
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  |   
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  |   
  link(rel='stylesheet', type='text/css', href='/stylesheets/home-page-style.css')
body
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header.navbar-left
        img.pull-left(src='/images/blue-handshake-icon-12.png', alt='handshake icon', width='50px', height='50px')
        |         
        a.navbar-brand(href='/', style='color: #5CB8FF;') Marketplace
      |       
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/search') SEARCH     
          li
            a(href='#contact-us') CONTACT US
block content

