extends layout

block content
    br
    br
    br
    form.form-horizontal(action="/update", method="POST")
        fieldset
            // Form Name
            legend Personal details
            // First Name
            .form-group
                label.col-md-4.control-label(for='firstName') First Name
                .col-md-4
                    input#textinput.form-control.input-md(name='firstName', type='text')
            //Last Name
            .form-group
                label.col-md-4.control-label(for='lastName') Last Name
                .col-md-4
                    input#textinput.form-control.input-md(name='lastName', type='text')
            // Organization
            .form-group
                label.col-md-4.control-label(for='org') Organization
                .col-md-4
                    input#textinput.form-control.input-md(name='org', type='text')
            // Telephone
            .form-group
                label.col-md-4.control-label(for='tel') Telephone
                .col-md-4
                    input#textinput.form-control.input-md(name='tel', type='text')
            // Contact Email
            .form-group
                label.col-md-4.control-label(for='email') Contact Email
                .col-md-4
                    input#textinput.form-control.input-md(name='email', type='text')
            // Address
            .form-group
                label.col-md-4.control-label(for='streetAddress') Contact address
                .col-md-4
                    textarea#textarea.form-control(name='streetAddress', type="text")
            // Text input
            .form-group
                label.col-md-4.control-label(for='zip') ZIP
                .col-md-4
                    input#textinput.form-control.input-md(name='zip', type='text')
            // Text input
            .form-group
                label.col-md-4.control-label(for='state') State
                .col-md-4
                    input#textinput.form-control.input-md(name='state', type='text')
            //Text input
            // Text input
            .form-group
                label.col-md-4.control-label(for='radius') Service Radius
                .col-md-4
                    input#textinput.form-control.input-md(name='radius', type='text')
            // Button
            .form-group
                label.col-md-4.control-label(for='singlebutton')
                .col-md-4
                    button#singlebutton.btn.btn-primary(name='singlebutton', type="submit") Save
