extends layout


block content

    .jumbotron.text-center
        h1 Heres what we found
    .text-left
      ol(id='result_list', style='width:100%' )
      div
        each cursor in json
          each obj in cursor
            .col-sm-6.col-md-4
              .thumbnail
                img.img-responsive(src='https://s-media-cache-ak0.pinimg.com/originals/69/6e/14/696e141b9132c5b53eac57da7643abd6.jpg', alt='...')
                .caption
                  h3 !{obj.first_name} !{obj.last_name}
                  p.description
                    - var str = JSON.stringify(obj.services)
                    - var nStr = JSON.parse(str)
                    - for (var temp in nStr)
                      p #{nStr[temp].name} - $#{nStr[temp].rate}


                  .clearfix
                    a.btn.btn-success.pull-right(href='/profile_page', role='button') Profile
