.view {
    background: url(/images/handshake-blur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-login {
    height: 100vh;
}

#login-display {
    width: 1000px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 300px;
}

#brand {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.brand-heading {
    font-size: 45px;
    font-weight: bolder;
}

.brand-text {
    font-size: 20px;
}

#contact-us {
    height: 95vh;
}

.jumbotron {
    background: #5CB8FF;
    color: #FFF;
    border-radius: 0px;
}

.jumbotron-sm {
    padding-top: 24px;
    padding-bottom: 24px;
}

.jumbotron small {
    color: #FFF;
}

.h1 small {
    font-size: 24px;
}

h1.error-message{
    color: red;
}

#search{
    width: 140px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	color:black;

}
#search:focus  {
        width: 60%;
    }
